@model Student
@{
    Layout = "_MainLayout";
    ViewBag.Title = "Додавання вчителя";
}
@if(ViewBag.IsEdit == false)
{
    <h3 class="ms-3 mt-3 mb-3">Введіть дані нового учня</h3>
}
else
{
    <h3 class="ms-3 mt-3">Відредагуйте учня</h3>    
}
@if (ViewBag.Success != null)
{
    <span class="text-success ms-3">@ViewBag.Success</span>
}
else
{
    
}
<form method="post" class="ms-3">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.FkClassNavigation)
    @Html.HiddenFor(m => m.Progresses)
    <div class="row mb-2 mt-0">
            <span class="col-auto text-danger" asp-validation-for="FkClass"></span>
        </div>
    <div class="row mb-2 mt-0">
        <div class="col-1">
            <label asp-for="FkClass" class="fs-6">Клас:</label>
        </div>
        <div class="col-auto">
            @Html.DropDownListFor(m => m.FkClass, ((SelectList)ViewBag.ClassesSelectList), "Всі класи", 
            new { @class = "form-select form-select-sm text-center" })                                      
        </div>
    </div>
    @if(ViewBag.Login!=null)
    {
        <div class="row mb-2 mt-0">
            <span class="col-auto text-danger">@ViewBag.Login</span>
        </div>
        <div class="row">
            <div class="col-1">
                <label asp-for="Login" class="fs-6">Логін:</label>
            </div>
            <div class="col-4">
                <input asp-for="Login" class="form-control form-control-sm input-validation-error"/>
            </div>
        </div>
    }
    else
    {
        <div class="row mb-2 mt-0">
            <span class="col-auto text-danger" asp-validation-for="Login"></span>
        </div>
        <div class="row">
            <div class="col-1">
                <label asp-for="Login" class="fs-6">Логін:</label>
            </div>
            <div class="col-4">
                <input asp-for="Login" class="form-control form-control-sm"/>
            </div>
        </div>
    }

    <div class="row mb-2 mt-0">
        <span class="col-auto text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="row">
        <div class="col-1">
            <label asp-for="Password" class="fs-6">Пароль:</label>
        </div>
        <div class="col-4">
            <input asp-for="Password" class="form-control form-control-sm"/>
        </div>
    </div>

    <div class="row mb-2 mt-0">
        <span class="col-auto text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="row">
        <div class="col-1">
            <label asp-for="Name" class="fs-6">Ім'я:</label>
        </div>
        <div class="col-4">
            <input asp-for="Name" class="form-control form-control-sm"/>
        </div>
    </div>

    <div class="row mb-2 mt-0">
        <span class="col-auto text-danger" asp-validation-for="Surname"></span>
    </div>
    <div class="row">
        <div class="col-1">
            <label asp-for="Surname" class="fs-6">Прізвище:</label>
        </div>
        <div class="col-4">
            <input asp-for="Surname" class="form-control form-control-sm"/>
        </div>
    </div>

    <div class="row mb-2 mt-0">
        <span class="col-auto text-danger" asp-validation-for="Middlename"></span>
    </div>
    <div class="row">
        <div class="col-1">
            <label asp-for="Middlename" class="fs-6">По-батькові:</label>
        </div>
        <div class="col-4">
            <input asp-for="Middlename" class="form-control form-control-sm"/>
        </div>
    </div>

    <div class="row mb-2 mt-0">
        <span class="col-auto text-danger" asp-validation-for="ParrentEmail"></span>
    </div>
    <div class="row">
        <div class="col-1">
            <label asp-for="ParrentEmail" class="fs-6">E-mail батька:</label>
        </div>
        <div class="col-4">
            <input asp-for="ParrentEmail" class="form-control form-control-sm"/>
        </div>
    </div>
    @if(ViewBag.IsEdit == false)
    {
       <div class="row mt-3">
            <button asp-action="AddStudent" type="submit" class="btn btn-primary col-auto me-3">Додати учня</button>
            <a asp-action="StudentsList" class="btn btn-success col-auto">Повернутись до списку учнів</a>
        </div>
    }
    else
    {
        <div class="row mt-3">
            <button asp-action="EditStudent" type="submit" class="btn btn-primary col-auto me-3">Зберегти зміни</button>
            <a asp-action="StudentsList" class="btn btn-success col-auto">Повернутись до списку учнів</a>
        </div>
    }
</form>