@{
    Layout = "_MainLayout";
    ViewBag.Title = $"{ViewBag.ClassTitle} - {ViewBag.SubjectTitle}";
    List<Lesson> lessons = ViewBag.Lessons;
    List<Student> students = ViewBag.Students;
    List<ProgressContent> progresses = ViewBag.Progresses;
}
<h4 class="mt-3 mb-3 text-center">@ViewBag.ClassTitle - @ViewBag.SubjectTitle</h4>

<table class="table table-bordered h-100">
    <thead class="text-center fw-bold" style="background-color:#2F3E46; color:#CAD2C5">
        <tr>
            <td class="col-3">Учні</td>
            @foreach(Lesson lesson in lessons)
            {
                <td>@lesson.Date.ToString("dd.MM")</td>
            }
        </tr>
    </thead>
    <tbody class="h-100">
        @foreach(Student student in students)
        {
            <tr class="h-100">
                <td class="ps-3 align-middle">@student.Surname @student.Name @student.Middlename</td>
                @foreach (Lesson lesson in lessons)
                {
                    var progress = progresses.Where(p => p.Progress.FkStudent == student.Id 
                        && p.Progress.FkLesson == lesson.Id).FirstOrDefault();
                    @if (progress == null)
                    {
                        <td class="p-1 h-100"><a class="btn btn-light w-100 h-100"></a></td>
                    }
                    else
                    {
                        <td class="text-center p-1 h-100"><a class="btn btn-light w-100 h-100 p-1">@progress.Mark.Title</a></td>
                    }
            }
            </tr>
        }
    </tbody>
</table>
